Options -Indexes
Options +FollowSymLinks
DirectoryIndex index.php

ErrorDocument 404 /index.php/request/_404


<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/css application/json
    AddOutputFilterByType DEFLATE text/javascript application/javascript application/x-javascript
    AddOutputFilterByType DEFLATE text/xml application/xml text/x-component

    <FilesMatch "\.(ttf|otf|eot|svg)$" >
        SetOutputFilter DEFLATE
    </FilesMatch>
</IfModule>

<IfModule mod_rewrite.c>
        RewriteEngine on
        RewriteCond %{REQUEST_FILENAME} -s [OR]
        RewriteCond %{REQUEST_FILENAME} -l [OR]
        RewriteCond %{REQUEST_FILENAME} -d
        RewriteRule ^.*$ - [NC,L]
        RewriteRule ^.*$ index.php?href=$0 [L,QSA]

        AddDefaultCharset UTF-8
        php_flag display_errors on
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access 7 days"
    ExpiresByType text/javascript "access plus 10 days"
    ExpiresByType text/css "access plus 10 days"
    ExpiresByType image/gif "access plus 10 days"
    ExpiresByType image/jpeg "access plus 10 days"
    ExpiresByType image/png "access plus 10 days"
    ExpiresByType image/jpg "access plus 10 days"
    ExpiresByType image/x-icon "access 10 days"
    ExpiresByType application/x-shockwave-flash "access 10 days"
</IfModule>

<ifModule mod_headers.c>
    <filesMatch "\.(ico|flv|jpg|jpeg|png|gif|swf)$">
        Header set Cache-Control "max-age=2592000, public"
    </filesMatch>
</ifModule>

FileETag MTime Size
<ifmodule mod_expires.c>
    <filesmatch ".(jpg|jpeg|gif|png|ico)$">
        ExpiresActive on
        ExpiresDefault "access plus 1 year"
    </filesmatch>
</ifmodule>

<IfModule mod_setenvif.c>
    BrowserMatch "MSIE" force-no-vary
    BrowserMatch "Mozilla/4.[0-9]{2}" force-no-vary
</IfModule>