body {
    margin: 0;
    background-image: url("{path}/background.png");
    background-repeat: repeat;
}

div#main {
    margin: 30px auto;
    width: 1000px;
    min-height: 700px;;
}

div#main div#menu_wrapper {
    margin-left: 20px;
}

div#main div#logo a{
    font-size: 30px;
    color: #5eaf28;
    text-shadow:0px -1px 0px rgba(000,000,000,0.4),0px 0px 0px rgba(255,255,255,0.2);
    -moz-text-shadow:0px -1px 0px rgba(000,000,000,0.4),0px 0px 0px rgba(255,255,255,0.2);
    -webkit-text-shadow:0px -1px 0px rgba(000,000,000,0.4),0px 0px 0px rgba(255,255,255,0.2);
    -o-text-shadow:0px -1px 0px rgba(000,000,000,0.4),0px 0px 0px rgba(255,255,255,0.2);
    -ms-text-shadow:0px -1px 0px rgba(000,000,000,0.4),0px 0px 0px rgba(255,255,255,0.2);
    text-decoration: none;
}

div#main div#logo a span {
    font-size: 14px;
    color: #74e036;
}

div#main ul#menu {
    list-style: none;
    margin: 10px 0;
}

div#main ul#menu li {
    padding: 10px 0;
    background: linear-gradient(top,#74e036 0%,#5eaf28);
    background: -moz-linear-gradient(top,#74e036 0%,#5eaf28);
    background: -webkit-linear-gradient(top,#74e036 0%,#5eaf28);
    background: -o-linear-gradient(top,#74e036 0%,#5eaf28);
    background: -ms-linear-gradient(top,#74e036 0%,#5eaf28);
    -pie-background: linear-gradient(#74e036, #5eaf28);
    box-shadow:0px 2px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
    -moz-box-shadow:0px 2px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
    -webkit-box-shadow:0px 2px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
    -o-box-shadow:0px 2px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
    -ms-box-shadow:0px 2px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
    text-shadow:0px -1px 0px rgba(000,000,000,0.4),0px 0px 0px rgba(255,255,255,0.2);
    -moz-text-shadow:0px -1px 0px rgba(000,000,000,0.4),0px 0px 0px rgba(255,255,255,0.2);
    -webkit-text-shadow:0px -1px 0px rgba(000,000,000,0.4),0px 0px 0px rgba(255,255,255,0.2);
    -o-text-shadow:0px -1px 0px rgba(000,000,000,0.4),0px 0px 0px rgba(255,255,255,0.2);
    -ms-text-shadow:0px -1px 0px rgba(000,000,000,0.4),0px 0px 0px rgba(255,255,255,0.2);
    display: inline-block;
    *display: inline;
    margin-left: -4px;
}

div#main ul#menu li a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 13px;
}

div#main ul#menu li > a.selected,
div#main ul#menu li:hover {
    background: linear-gradient(bottom,#74e036 0%,#5eaf28);
    background: -moz-linear-gradient(bottom,#74e036 0%,#5eaf28);
    background: -webkit-linear-gradient(bottom,#74e036 0%,#5eaf28);
    background: -o-linear-gradient(bottom,#74e036 0%,#5eaf28);
    background: -ms-linear-gradient(bottom,#74e036 0%,#5eaf28);
    -pie-background: linear-gradient(#5eaf28, #74e036);
    cursor: pointer;
}

div#main #header {
    text-align: center;
    font-size: 26px;
    color: #FFFFFF;
    padding: 10px 0;
    background: linear-gradient(top,#74e036 0%,#5eaf28);
    background: -moz-linear-gradient(top,#74e036 0%,#5eaf28);
    background: -webkit-linear-gradient(top,#74e036 0%,#5eaf28);
    background: -o-linear-gradient(top,#74e036 0%,#5eaf28);
    background: -ms-linear-gradient(top,#74e036 0%,#5eaf28);
    -pie-background: linear-gradient(#74e036, #5eaf28);
    border: 1px solid #70a232;
    box-shadow:0px 2px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
    -moz-box-shadow:0px 2px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
    -webkit-box-shadow:0px 2px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
    -o-box-shadow:0px 2px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
    -ms-box-shadow:0px 2px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
    text-shadow:0px -1px 0px rgba(000,000,000,0.4),0px 0px 0px rgba(255,255,255,0.2);
    -moz-text-shadow:0px -1px 0px rgba(000,000,000,0.4),0px 0px 0px rgba(255,255,255,0.2);
    -webkit-text-shadow:0px -1px 0px rgba(000,000,000,0.4),0px 0px 0px rgba(255,255,255,0.2);
    -o-text-shadow:0px -1px 0px rgba(000,000,000,0.4),0px 0px 0px rgba(255,255,255,0.2);
    -ms-text-shadow:0px -1px 0px rgba(000,000,000,0.4),0px 0px 0px rgba(255,255,255,0.2);
}

div#main #content {
    border: 1px solid #70a232;
    box-shadow:0px 2px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
    -moz-box-shadow:0px 2px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
    -webkit-box-shadow:0px 2px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
    -o-box-shadow:0px 2px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
    -ms-box-shadow:0px 2px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
    background-color: #FFFFFF
}

.code {
    color: #00008b;
    font-size: 14px;
}

.template {
    padding: 10px;
}

.data_table td:first-child {
    padding: 10px 0;
    width: 250px;
    text-align: right;
}

.data_table td:last-child {
    padding-left: 20px;
    vertical-align: middle;
}

.info_table {
    margin: 10px;
}

.info_table td:first-child {
    width: 100px;
    text-align: right;
    padding: 5px;
    font-weight: bold;
}

.info_table td:last-child {
    padding-left: 12px;
    text-indent: -10px;
}

div#main #footer {
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
}

/* login style */
div#main div#login_wrapper, div#main div#reminder {
    margin: 150px auto;
    border: 1px solid #70a232;
    box-shadow:0px 2px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
    -moz-box-shadow:0px 2px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
    -webkit-box-shadow:0px 2px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
    -o-box-shadow:0px 2px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
    -ms-box-shadow:0px 2px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
    border-radius: 5px 5px 5px 5px;
    width: 350px;
    padding: 20px;
    background-color: #FFFFFF;
}

div#main div#login_wrapper p, div#main div#reminder p {
    margin: 8px 0;
    text-align: right;
}

.h2_title {
    font-variant: small-caps;
    font-family: serif;
    font-size: 16px;
    font-weight: bold;
}

.end_text {
    text-align: left;
    font-size: 14px;
    margin: 15px 0;
}