body {
    margin: 0;
    background-image: url("../images/background.png");
    background-repeat: repeat;
}

div#main {
    margin: 30px auto;
    width: 1000px;
    min-height: 700px;;
}

div#main div#logo a{
    font-size: 30px;
    color: #5eaf28;
    text-shadow:0px -1px 0px rgba(000,000,000,0.4),0px 0px 0px rgba(255,255,255,0.2);
    text-decoration: none;
    margin-left: 5px;
}

div#main div#logo a span {
    font-size: 14px;
    color: #74e036;
}

div#main ul#menu {
    list-style: none;
    margin: 10px 0;
    text-align: center;
}

div#main ul#menu li {
    padding: 10px 0;
    background: linear-gradient(top,#74e036 0%,#5eaf28);
    box-shadow:0px 2px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
    text-shadow:0px -1px 0px rgba(000,000,000,0.4),0px 0px 0px rgba(255,255,255,0.2);
    display: inline-block;
    margin-left: -3px;
}

div#main ul#menu li a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 14px;
}

div#main ul#menu li:hover {
    background: linear-gradient(bottom,#74e036 0%,#5eaf28);
    cursor: pointer;
}

div#main #header {
    text-align: center;
    font-size: 26px;
    color: #FFFFFF;
    padding: 10px 0;
    background: linear-gradient(top,#74e036 0%,#5eaf28);
    border: 1px solid #70a232;
    box-shadow:0px 2px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
    text-shadow:0px -1px 0px rgba(000,000,000,0.4),0px 0px 0px rgba(255,255,255,0.2);
}

div#main #content {
    border: 1px solid #70a232;
    box-shadow:0px 2px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
    background-color: #FFFFFF
}

.code {
    color: #00008b;
    font-size: 14px;
}

.template {
    padding: 10px;
}

.data_table {
    margin: 10px;
}

.data_table td:first-child {
    padding: 10px 0;
    width: 250px;
    text-align: right;
}

.data_table td:last-child {
    padding-left: 20px;
    vertical-align: middle;
}

.info_table {
    margin: 10px;
}

.info_table td:first-child {
    width: 100px;
    text-align: right;
    padding: 5px;
    font-weight: bold;
}

.info_table td:last-child {
    padding-left: 12px;
    text-indent: -10px;
}

div#main #footer {
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
}

/* errors styling */

.drm-error {
    background-color: #FFD4C3;
}